services:
  ledgersummaries-api:
    container_name: ledgersummaries-api
    build:
      context: .
      dockerfile: LedgerFlow.LedgerSummaries.WebApi/Dockerfile    
    env_file: .env
    ports:
      - "2002:8080"
    networks:
      - ledgerflow
    

  transactions-api:
    container_name: transactions-api
    build:
      context: .
      dockerfile: LedgerFlow.Transactions.WebApi/Dockerfile    
    env_file: .env
    ports:
      - "2001:8080"
    networks:
      - ledgerflow    

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak-ledgerflow
    restart: unless-stopped #on-failure, always
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - "2000:8080"
    networks:
      - ledgerflow
    volumes:
      - keycloak_data:/opt/keycloak/data

networks:
  ledgerflow:
    driver: bridge

volumes:
  keycloak_data:
