services:
  webapi:
    build:
      context: .
      dockerfile: LedgerFlow.WebApi/Dockerfile
    container_name: LedgerFlow.WebApi
    ports:
      - "2001:8080"
    env_file: .env

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak-ledgerflow
    restart: unless-stopped #on-failure, 
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - "2000:8080"
    networks:
      - ledgerflow
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:2000/realms/master"]
      interval: 15s
      timeout: 10s
      retries: 10

networks:
  ledgerflow:
    driver: bridge

volumes:
  kafka_data:
