services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak-ledgerflow
    restart: unless-stopped #on-failure, always
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - "2000:8080"
    networks:
      - ledgerflow
    volumes:
      - keycloak_data:/opt/keycloak/data

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver-ledgerflow
    restart: unless-stopped
    environment:
      SA_PASSWORD: "Ledgerflow!123"
      ACCEPT_EULA: "Y"
    ports:
      - "2001:1433"
    volumes:
    - sql_data:/var/opt/mssql
    networks:
      - ledgerflow

  redis:
    image: redis:7-alpine
    container_name: redis-ledgerflow
    restart: unless-stopped
    ports:
        - "2003:6379"
    networks:
      - ledgerflow

  transactions-api:
    container_name: transactions-api
    build:
      context: .
      dockerfile: LedgerFlow.Transactions.WebApi/Dockerfile    
    env_file: .env
    ports:
      - "3000:8080"
    networks:
      - ledgerflow

  ledgersummaries-api:
    container_name: ledgersummaries-api
    build:
      context: .
      dockerfile: LedgerFlow.LedgerSummaries.WebApi/Dockerfile    
    env_file: .env
    ports:
      - "3001:8080"
    networks:
      - ledgerflow  

networks:
  ledgerflow:
    driver: bridge

volumes:
  keycloak_data:
  sql_data:

