apiVersion: apps/v1
kind: Deployment
metadata:
  name: ledgersummaries-api
  namespace: ledgerflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ledgersummaries-api
  template:
    metadata:
      labels:
        app: ledgersummaries-api
    spec:
      containers:
        - name: ledgersummaries-api
          image: lucasfogliarini/ledgersummaries-api:latest
          ports:
            - containerPort: 8080
          resources:
          requests:
            cpu: "0.5"
            memory: "0.5Gi"
          limits:
            cpu: "1"
            memory: "1Gi"
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Development"
          envFrom:
            - secretRef:
                name: ledgerflow-secrets
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 1
            successThreshold: 1
            initialDelaySeconds: 3
