apiVersion: apps/v1
kind: Deployment
metadata:
  name: ledgersummaries-api
  labels:
    app.kubernetes.io/name: ledgersummaries-api
  namespace: ledgerflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: ledgersummaries-api
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ledgersummaries-api
    spec:
      containers:
        - name: ledgersummaries-api
          image: borarepository.azurecr.io/ledgersummaries-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "0.5"
              memory: "0.5Gi"
            limits:
              cpu: "1"
              memory: "1Gi"
          envFrom:
            - configMapRef:
                name: ledgersummaries-api-config
            - secretRef:
                name: secret-ref
                optional: true
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 1
            successThreshold: 1
            initialDelaySeconds: 3