apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ledgersummaries-api
  labels:
    app.kubernetes.io/name: ledgersummaries-api
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ledgersummaries-api
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80